<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springcloud.dao.PaymentDao2">
    <resultMap id="BaseResultMap" type="com.djtu.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findPaymentById" resultType="com.djtu.springcloud.entities.Payment">
		select * from tbl_payment where id=#{id}
	</select>

    <insert id="create" parameterType="com.djtu.springcloud.entities.Payment" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tbl_payment(serial) VALUES(#{serial})
	</insert>

</mapper>
 

